<style>
    #TABLE_1 {
        color: rgb(17, 76, 127);
        height: 900.667px;
        width: 924px;
        perspective-origin: 462px 450.333px;
        transform-origin: 462px 450.333px;
        background: rgba(0, 0, 0, 0) linear-gradient(rgb(238, 238, 231), rgb(238, 238, 231)) repeat scroll 0% 0% / auto padding-box border-box;
        border: 0px none rgb(204, 204, 204);
        border-spacing: 0px 0px;
        font: normal normal normal normal 13px / 18.2px Arial, Tahoma, Verdana, sans-serif;
        outline: rgb(17, 76, 127) none 0px;
    }

    /*#TABLE_1*/

    #TBODY_2 {
        color: rgb(17, 76, 127);
        height: 900.667px;
        width: 924px;
        perspective-origin: 462px 450.333px;
        transform-origin: 462px 450.333px;
        border: 0px none rgb(204, 204, 204);
        font: normal normal normal normal 13px / 18.2px Arial, Tahoma, Verdana, sans-serif;
        outline: rgb(17, 76, 127) none 0px;
    }

    /*#TBODY_2*/

    #TR_3 {
        color: rgb(17, 76, 127);
        height: 900.667px;
        vertical-align: top;
        width: 924px;
        perspective-origin: 462px 450.333px;
        transform-origin: 462px 450.333px;
        border: 0px none rgb(204, 204, 204);
        font: normal normal normal normal 13px / 18.2px Arial, Tahoma, Verdana, sans-serif;
        outline: rgb(17, 76, 127) none 0px;
    }

    /*#TR_3*/

    #TD_4 {
        color: rgb(17, 76, 127);
        height: 900.667px;
        vertical-align: top;
        width: 924px;
        perspective-origin: 462px 450.333px;
        transform-origin: 462px 450.333px;
        border: 0px none rgb(17, 76, 127);
        font: normal normal normal normal 13px / 18.2px Arial, Tahoma, Verdana, sans-serif;
        outline: rgb(17, 76, 127) none 0px;
    }

    /*#TD_4*/

    #TABLE_5 {
        color: rgb(17, 76, 127);
        height: 648px;
        width: 554px;
        perspective-origin: 279px 341px;
        transform-origin: 279px 341px;
        background: rgb(255, 255, 255) none repeat scroll 0% 0% / auto padding-box border-box;
        border: 2px solid rgb(204, 204, 204);
        border-spacing: 0px 0px;
        font: normal normal normal normal 13px / 18.2px Arial, Tahoma, Verdana, sans-serif;
        margin: 0px 183px;
        outline: rgb(17, 76, 127) none 0px;
        padding: 15px 0px;
    }

    /*#TABLE_5*/

    #TBODY_6 {
        color: rgb(17, 76, 127);
        height: 648px;
        width: 554px;
        perspective-origin: 277px 324px;
        transform-origin: 277px 324px;
        border: 0px none rgb(204, 204, 204);
        font: normal normal normal normal 13px / 18.2px Arial, Tahoma, Verdana, sans-serif;
        outline: rgb(17, 76, 127) none 0px;
    }

    /*#TBODY_6*/

    #TR_7 {
        color: rgb(17, 76, 127);
        height: 648px;
        vertical-align: middle;
        width: 554px;
        perspective-origin: 277px 324px;
        transform-origin: 277px 324px;
        border: 0px none rgb(204, 204, 204);
        font: normal normal normal normal 13px / 18.2px Arial, Tahoma, Verdana, sans-serif;
        outline: rgb(17, 76, 127) none 0px;
    }

    /*#TR_7*/

    #TD_8 {
        color: rgb(17, 76, 127);
        height: 647.667px;
        vertical-align: middle;
        width: 554px;
        perspective-origin: 277px 323.833px;
        transform-origin: 277px 323.833px;
        border: 0px none rgb(17, 76, 127);
        font: normal normal normal normal 13px / 18.2px Arial, Tahoma, Verdana, sans-serif;
        outline: rgb(17, 76, 127) none 0px;
    }

    /*#TD_8*/

    #DIV_9 {
        color: rgb(17, 76, 127);
        height: 617.667px;
        width: 534px;
        perspective-origin: 267px 308.833px;
        transform-origin: 267px 308.833px;
        border: 0px none rgb(17, 76, 127);
        font: normal normal normal normal 13px / 18.2px Arial, Tahoma, Verdana, sans-serif;
        margin: 0px 20px 0px 0px;
        outline: rgb(17, 76, 127) none 0px;
    }

    /*#DIV_9*/

    #P_10 {
        color: rgb(1, 1, 1);
        height: 18px;
        text-align: left;
        width: 514px;
        perspective-origin: 257px 9px;
        transform-origin: 257px 9px;
        border: 0px none rgb(1, 1, 1);
        font: normal normal normal normal 12px / 18.2px Arial, Tahoma, Verdana, sans-serif;
        margin: 15px 0px 0px 20px;
        outline: rgb(1, 1, 1) none 0px;
    }

    /*#P_10*/

    #P_11 {
        color: rgb(1, 1, 1);
        height: 36px;
        text-align: left;
        width: 514px;
        perspective-origin: 257px 18px;
        transform-origin: 257px 18px;
        border: 0px none rgb(1, 1, 1);
        font: normal normal normal normal 12px / 18.2px Arial, Tahoma, Verdana, sans-serif;
        margin: 10px 0px 0px 20px;
        outline: rgb(1, 1, 1) none 0px;
    }

    /*#P_11*/

    #P_12, #P_19, #P_21, #P_23, #P_28, #P_41 {
        color: rgb(1, 1, 1);
        height: 18px;
        text-align: left;
        width: 514px;
        perspective-origin: 257px 9px;
        transform-origin: 257px 9px;
        border: 0px none rgb(1, 1, 1);
        font: normal normal normal normal 12px / 18.2px Arial, Tahoma, Verdana, sans-serif;
        margin: 10px 0px 0px 20px;
        outline: rgb(1, 1, 1) none 0px;
    }

    /*#P_12, #P_19, #P_21, #P_23, #P_28, #P_41*/

    #P_13 {
        color: rgb(1, 1, 1);
        height: 22.6667px;
        text-align: left;
        width: 514px;
        perspective-origin: 257px 11.3333px;
        transform-origin: 257px 11.3333px;
        border: 0px none rgb(1, 1, 1);
        font: normal normal normal normal 12px / 18.2px Arial, Tahoma, Verdana, sans-serif;
        margin: 10px 0px 0px 20px;
        outline: rgb(1, 1, 1) none 0px;
    }

    /*#P_13*/

    #A_14, #A_16, #A_20, #A_43 {
        color: rgb(18, 113, 209);
        text-align: left;
        text-decoration: none;
        border: 0px none rgb(18, 113, 209);
        font: normal normal normal normal 12px / 18.2px Arial, Tahoma, Verdana, sans-serif;
        outline: rgb(18, 113, 209) none 0px;
    }

    /*#A_14, #A_16, #A_20, #A_43*/

    #SUP_15, #SUP_18 {
        color: rgb(18, 113, 209);
        text-align: left;
        border: 0px none rgb(18, 113, 209);
        font: normal normal normal normal 10px / 18.2px Arial, Tahoma, Verdana, sans-serif;
        outline: rgb(18, 113, 209) none 0px;
    }

    /*#SUP_15, #SUP_18*/

    #A_17 {
        color: rgb(18, 113, 209);
        text-align: left;
        text-decoration: none;
        border: 0px none rgb(18, 113, 209);
        font: normal normal normal normal 12px / 18.2px Arial, Tahoma, Verdana, sans-serif;
        outline: rgb(18, 113, 209) none 0px;
    }

    /*#A_17*/

    #STRONG_22, #STRONG_24, #STRONG_29 {
        color: rgb(1, 1, 1);
        text-align: left;
        border: 0px none rgb(1, 1, 1);
        font: normal normal bold normal 12px / 18.2px Arial, Tahoma, Verdana, sans-serif;
        outline: rgb(1, 1, 1) none 0px;
    }

    /*#STRONG_22, #STRONG_24, #STRONG_29*/

    #P_25 {
        color: rgb(1, 1, 1);
        height: 36px;
        overflow-wrap: break-word;
        text-align: left;
        width: 310px;
        word-wrap: break-word;
        perspective-origin: 155px 18px;
        transform-origin: 155px 18px;
        border: 0px none rgb(1, 1, 1);
        font: normal normal normal normal 12px / 18.2px Arial, Tahoma, Verdana, sans-serif;
        margin: 10px 0px 10px 35px;
        outline: rgb(1, 1, 1) none 0px;
    }

    /*#P_25*/

    #A_26 {
        color: rgb(18, 113, 209);
        overflow-wrap: break-word;
        text-align: left;
        text-decoration: none;
        word-wrap: break-word;
        border: 0px none rgb(18, 113, 209);
        font: normal normal normal normal 12px / 18.2px Arial, Tahoma, Verdana, sans-serif;
        outline: rgb(18, 113, 209) none 0px;
    }

    /*#A_26*/

    #P_27 {
        color: rgb(102, 102, 102);
        height: 18px;
        text-align: left;
        width: 499px;
        perspective-origin: 249.5px 9px;
        transform-origin: 249.5px 9px;
        border: 0px none rgb(102, 102, 102);
        font: italic normal normal normal 12px / 18.2px Arial, Tahoma, Verdana, sans-serif;
        margin: 5px 0px 0px 35px;
        outline: rgb(102, 102, 102) none 0px;
    }

    /*#P_27*/

    #P_30 {
        color: rgb(1, 1, 1);
        height: 54px;
        text-align: left;
        width: 499px;
        perspective-origin: 249.5px 27px;
        transform-origin: 249.5px 27px;
        border: 0px none rgb(1, 1, 1);
        font: normal normal normal normal 12px / 18.2px Arial, Tahoma, Verdana, sans-serif;
        margin: 5px 0px 0px 35px;
        outline: rgb(1, 1, 1) none 0px;
    }

    /*#P_30*/

    #BR_31, #BR_34, #SPAN_36, #BR_38, #BR_40 {
        color: rgb(1, 1, 1);
        text-align: left;
        border: 0px none rgb(1, 1, 1);
        font: normal normal normal normal 12px / 18.2px Arial, Tahoma, Verdana, sans-serif;
        outline: rgb(1, 1, 1) none 0px;
    }

    /*#BR_31, #BR_34, #SPAN_36, #BR_38, #BR_40*/

    #P_32 {
        color: rgb(1, 1, 1);
        height: 18px;
        text-align: left;
        width: 434px;
        perspective-origin: 217px 9px;
        transform-origin: 217px 9px;
        border: 0px none rgb(1, 1, 1);
        font: normal normal normal normal 12px / 18.2px Arial, Tahoma, Verdana, sans-serif;
        margin: 5px 0px 0px 100px;
        outline: rgb(1, 1, 1) none 0px;
    }

    /*#P_32*/

    #P_33 {
        color: rgb(1, 1, 1);
        height: 108px;
        text-align: left;
        width: 499px;
        perspective-origin: 249.5px 54px;
        transform-origin: 249.5px 54px;
        border: 0px none rgb(1, 1, 1);
        font: normal normal normal normal 12px / 18.2px Arial, Tahoma, Verdana, sans-serif;
        margin: 5px 0px 0px 35px;
        outline: rgb(1, 1, 1) none 0px;
    }

    /*#P_33*/

    #BR_35, #BR_39 {
        color: rgb(1, 1, 1);
        text-align: left;
        border: 0px none rgb(1, 1, 1);
        font: normal normal normal normal 12px / 18.2px Arial, Tahoma, Verdana, sans-serif;
        outline: rgb(1, 1, 1) none 0px;
    }

    /*#BR_35, #BR_39*/

    #SPAN_37 {
        color: rgb(0, 119, 204);
        cursor: pointer;
        text-align: left;
        border-top: 0px none rgb(0, 119, 204);
        border-right: 0px none rgb(0, 119, 204);
        border-bottom: 0.666667px dotted rgb(0, 119, 204);
        border-left: 0px none rgb(0, 119, 204);
        font: normal normal normal normal 12px / 18.2px Arial, Tahoma, Verdana, sans-serif;
        outline: rgb(0, 119, 204) none 0px;
    }

    /*#SPAN_37*/

    #P_42 {
        color: rgb(1, 1, 1);
        height: 18px;
        text-align: left;
        width: 514px;
        perspective-origin: 257px 9px;
        transform-origin: 257px 9px;
        border: 0px none rgb(1, 1, 1);
        font: normal normal normal normal 12px / 18.2px Arial, Tahoma, Verdana, sans-serif;
        margin: 10px 0px 0px 20px;
        outline: rgb(1, 1, 1) none 0px;
    }

    /*#P_42*/

    #P_44 {
        color: rgb(17, 76, 127);
        height: 18px;
        text-align: left;
        width: 514px;
        perspective-origin: 257px 9px;
        transform-origin: 257px 9px;
        border: 0px none rgb(17, 76, 127);
        font: normal normal bold normal 14px / 18.2px Arial, Tahoma, Verdana, sans-serif;
        margin: 10px 0px 0px 20px;
        outline: rgb(17, 76, 127) none 0px;
    }

    /*#P_44*/

    #P_45 {
        color: rgb(1, 1, 1);
        height: 18px;
        text-align: left;
        width: 514px;
        perspective-origin: 257px 9px;
        transform-origin: 257px 9px;
        border: 0px none rgb(1, 1, 1);
        font: normal normal normal normal 12px / 18.2px Arial, Tahoma, Verdana, sans-serif;
        margin: 10px 0px 15px 20px;
        outline: rgb(1, 1, 1) none 0px;
    }

    /*#P_45*/

    #A_46 {
        color: rgb(0, 119, 204);
        text-align: left;
        border: 0px none rgb(0, 119, 204);
        font: normal normal normal normal 12px / 18.2px Arial, Tahoma, Verdana, sans-serif;
        outline: rgb(0, 119, 204) none 0px;
    }

    /*#A_46*/

    #TABLE_47 {
        color: rgb(17, 76, 127);
        height: 218.667px;
        width: 600px;
        perspective-origin: 300px 109.333px;
        transform-origin: 300px 109.333px;
        border-spacing: 0px 0px;
        font: normal normal normal normal 13px / 18.2px Arial, Tahoma, Verdana, sans-serif;
        margin: 0px 162px;
        outline: rgb(17, 76, 127) none 0px;
    }

    /*#TABLE_47*/

    #TBODY_48 {
        color: rgb(17, 76, 127);
        height: 218.667px;
        width: 600px;
        perspective-origin: 300px 109.333px;
        transform-origin: 300px 109.333px;
        border: 0px none rgb(128, 128, 128);
        font: normal normal normal normal 13px / 18.2px Arial, Tahoma, Verdana, sans-serif;
        outline: rgb(17, 76, 127) none 0px;
    }

    /*#TBODY_48*/

    #TR_49 {
        color: rgb(17, 76, 127);
        height: 77.3333px;
        vertical-align: middle;
        width: 600px;
        perspective-origin: 300px 38.6667px;
        transform-origin: 300px 38.6667px;
        border: 0px none rgb(128, 128, 128);
        font: normal normal normal normal 13px / 18.2px Arial, Tahoma, Verdana, sans-serif;
        outline: rgb(17, 76, 127) none 0px;
    }

    /*#TR_49*/

    #TD_50 {
        color: rgb(17, 76, 127);
        height: 77px;
        vertical-align: top;
        width: 600px;
        perspective-origin: 300px 38.5px;
        transform-origin: 300px 38.5px;
        border: 0px none rgb(17, 76, 127);
        font: normal normal normal normal 13px / 18.2px Arial, Tahoma, Verdana, sans-serif;
        outline: rgb(17, 76, 127) none 0px;
    }

    /*#TD_50*/

    #P_51, #P_60 {
        color: rgb(163, 163, 163);
        height: 72px;
        text-align: justify;
        width: 600px;
        perspective-origin: 300px 36px;
        transform-origin: 300px 36px;
        border: 0px none rgb(163, 163, 163);
        font: normal normal normal normal 12px / 18.2px Arial, Tahoma, Verdana, sans-serif;
        margin: 5px 0px 0px;
        outline: rgb(163, 163, 163) none 0px;
    }

    /*#P_51, #P_60*/

    #TR_52 {
        color: rgb(17, 76, 127);
        height: 41.3333px;
        vertical-align: middle;
        width: 600px;
        perspective-origin: 300px 20.6667px;
        transform-origin: 300px 20.6667px;
        border: 0px none rgb(128, 128, 128);
        font: normal normal normal normal 13px / 18.2px Arial, Tahoma, Verdana, sans-serif;
        outline: rgb(17, 76, 127) none 0px;
    }

    /*#TR_52*/

    #TD_53 {
        color: rgb(17, 76, 127);
        height: 41px;
        vertical-align: top;
        width: 600px;
        perspective-origin: 300px 20.5px;
        transform-origin: 300px 20.5px;
        border: 0px none rgb(17, 76, 127);
        font: normal normal normal normal 13px / 18.2px Arial, Tahoma, Verdana, sans-serif;
        outline: rgb(17, 76, 127) none 0px;
    }

    /*#TD_53*/

    #P_54 {
        color: rgb(163, 163, 163);
        height: 36px;
        text-align: justify;
        width: 600px;
        perspective-origin: 300px 18px;
        transform-origin: 300px 18px;
        border: 0px none rgb(163, 163, 163);
        font: normal normal normal normal 12px / 18.2px Arial, Tahoma, Verdana, sans-serif;
        margin: 5px 0px 0px;
        outline: rgb(163, 163, 163) none 0px;
    }

    /*#P_54*/

    #A_55, #A_56, #A_62 {
        color: rgb(102, 102, 102);
        text-align: justify;
        border: 0px none rgb(102, 102, 102);
        font: normal normal normal normal 12px / 18.2px Arial, Tahoma, Verdana, sans-serif;
        outline: rgb(102, 102, 102) none 0px;
    }

    /*#A_55, #A_56, #A_62*/

    #A_57, #A_63 {
        color: rgb(102, 102, 102);
        text-align: justify;
        border: 0px none rgb(102, 102, 102);
        font: normal normal normal normal 12px / 18.2px Arial, Tahoma, Verdana, sans-serif;
        outline: rgb(102, 102, 102) none 0px;
    }

    /*#A_57, #A_63*/

    #TR_58 {
        color: rgb(17, 76, 127);
        height: 100px;
        vertical-align: middle;
        width: 600px;
        perspective-origin: 300px 50px;
        transform-origin: 300px 50px;
        border: 0px none rgb(128, 128, 128);
        font: normal normal normal normal 13px / 18.2px Arial, Tahoma, Verdana, sans-serif;
        outline: rgb(17, 76, 127) none 0px;
    }

    /*#TR_58*/

    #TD_59 {
        color: rgb(17, 76, 127);
        height: 100px;
        vertical-align: top;
        width: 600px;
        perspective-origin: 300px 50px;
        transform-origin: 300px 50px;
        border: 0px none rgb(17, 76, 127);
        font: normal normal normal normal 13px / 18.2px Arial, Tahoma, Verdana, sans-serif;
        outline: rgb(17, 76, 127) none 0px;
    }

    /*#TD_59*/

    #A_61 {
        color: rgb(0, 119, 204);
        text-align: justify;
        border: 0px none rgb(0, 119, 204);
        font: normal normal normal normal 12px / 18.2px Arial, Tahoma, Verdana, sans-serif;
        outline: rgb(0, 119, 204) none 0px;
    }

    /*#A_61*/

    #P_64 {
        color: rgb(163, 163, 163);
        height: 18px;
        text-align: justify;
        width: 600px;
        perspective-origin: 300px 9px;
        transform-origin: 300px 9px;
        border: 0px none rgb(163, 163, 163);
        font: normal normal normal normal 12px / 18.2px Arial, Tahoma, Verdana, sans-serif;
        margin: 5px 0px 0px;
        outline: rgb(163, 163, 163) none 0px;
    }

    /*#P_64*/


</style>
<table id="TABLE_1">
    <tbody id="TBODY_2">
    <tr id="TR_3">
        <td id="TD_4">
            <table id="TABLE_5">
                <tbody id="TBODY_6">
                <tr id="TR_7">
                    <td id="TD_8">
                        <div id="DIV_9">
                            <p id="P_10">
                                Dear *email or name here*,
                            </p>

                            <p id="P_11">
                                This is a reminder that "*webinar name*" will begin in *X hours* on:
                            </p>

                            <p id="P_12">
                                *webinar date and time* (Mon, Oct 5, 2015 3:00 PM - 5:00 PM EDT)
                            </p>

                            <p id="P_13">
                                Add to Calendar: <a href="" id="A_14">Outlook<sup id="SUP_15">&#174;</sup> Calendar</a>
                                |
                                <a href="" id="A_16">Google Calendar<sup id="SUP_16">&#174;</sup></a> |
                                <a href="" id="A_17">iCal<sup id="SUP_18">&#174;</sup></a>
                            </p>

                            <p id="P_19">
                                Please send your questions, comments and feedback to: <a href="" id="A_20">*email*</a>
                            </p>

                            <p id="P_21">
                                <strong id="STRONG_22">How to Join the Webinar</strong>
                            </p>

                            <p id="P_23">
                                <strong id="STRONG_24">Click the link to join the webinar at the specified time and
                                    date:</strong>
                            </p>

                            <p id="P_25">
                                <a href="" id="A_26">*Webinar link*</a>
                            </p>

                            <p id="P_27">
                                Note: This link should not be shared with others; it is unique to you.
                            </p>

                            <p id="P_32">

                            <p id="P_41">
                                Webinar ID: *webinar hash ID*
                            </p>
                            <!--<p id="P_42">-->
                            <!--<a href="http://support.citrixonline.com/s/G2W/Help/SystemRequirements" id="A_43">View System Requirements</a>-->
                            <!--</p>-->
                            <p id="P_44">
                                To Cancel this Registration
                            </p>

                            <p id="P_45">
                                If you can't attend this webinar, you may <a href="" id="A_46">cancel your
                                registration</a> at any time.
                            </p>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
            <table id="TABLE_47">
                <tbody id="TBODY_48">
                <tr id="TR_49">
                    <td id="TD_50">
                        You are receiving this email because you registered for this webinar. Your email address and
                        personal information will be used by the Webinar organizer to communicate with you about this
                        event and their other services. To review the Webinar organizer's privacy policy or opt out from
                        their communications, contact the Webinar organizer directly.
                    </td>
                </tr>
                <tr id="TR_52">
                    <td id="TD_53">
                        You can <a
                            href=""
                            id="A_55">unregister</a> from the event and/or <a
                            href=""
                            id="A_56">opt-out</a> from receiving other communication from this webinar's organizer or
                        Webinar Hero. If you did not register for this event, please <a
                            href=""
                            id="A_57">Report Spam</a>.
                    </td>
                </tr>
                <tr id="TR_58">
                    <td id="TD_59">
                        This email is powered by Webinar Hero and is sent on behalf of the webinar organizer. Webinar Hero
                        is a service provided to the organizer by KV Social
                        <a href="http://kvsocial.com" id="A_61">kvsocial.com</a>. View the <a
                            href=""
                            id="A_62">Privacy Policy</a>. Use of this service is subject to Webinar Hero <a
                            href="" id="A_63">Anti-spam
                        Policy</a>. &#9400; 2015 KV Social.
                    </td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>
    </tbody>
</table>